<h3>Termékek</h3>
<hr>
<button type="button" class="btn btn-primary mb-3" routerLink="/productform">új adat rögzítés</button>
<table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th >#</th>
        <th>Termék</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let product of products; let i = index">
        <td>{{i + 1}}</td>
        <td>{{product.nev}}</td>
        <td class="text-end">
          <button class="btn btn-sm btn-warning me-2" routerLink="/productform/{{product.termekID}}"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-sm btn-danger"  ><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
        <th colspan="3" class="text-center">Összesen <span>{{products.length}}</span> rekord</th>
    </tfoot>
  </table>