
<h3>Kategória kezelés</h3>
<hr>
<button type="button" class="btn btn-primary mb-3" routerLink="/categoryform">új adat rögzítés</button>

<table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th >#</th>
        <th >Kategóriák</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
      <tr *ngFor="let category of categories;index as i;">
        <td> {{ i+1}}</td>
        <td> {{ category.kategoriaNev}}</td>
        <td></td>
      </tr>
    <tfoot>
        <th colspan="3" class="text-center">Összesen <span>0</span> rekord</th>
    </tfoot>
  </table>