<h3>Forgalom</h3>
<hr>
<h3 *ngIf="this.id">Forgalom módosítás</h3>
<h3 *ngIf="!this.id">Forgalom felvétel</h3>


<select name="productname" id="" class="form-select mb-3" [(ngModel)]="newTraffic.termek">
    <option *ngFor="let traffic of AllProducts" [value]="traffic.nev">{{traffic.nev}}</option>
</select>
<div  class="form-floating mb-3">
    
    <input type="name" class="form-control mb-2" id="buyername" [(ngModel)]="newTraffic.vevo" placeholder="" value="">
    <label for="buyername">Vevő név</label>
</div >
<!--

<select name="Kategória" id="" class="form-select mb-3" [(ngModel)]="newTraffic.kategoriaId">
    
    <option value="1">Étel</option>
    <option value="2">Ital</option>
    <option value="3">Desszertek</option>
    <option value="4">Sütemények</option>
</select>
-->
<select name="Kategória" id="" class="form-select mb-3" [(ngModel)]="newTraffic.kategoriaId">
    <option *ngFor="let traffic of allCategories" [value]="traffic.id">{{traffic.categoryName}}</option>
</select>

<select name="egyseg" id="" class="form-select mb-3" [(ngModel)]="newTraffic.egyseg">
    <option value="dl">Dl</option>
    <option value="db">Db</option>
    <option value="szelet">Szelet</option>
   
</select>


<div class="form-floating mb-3">
    
    <input type="number" class="form-control mb-2" id="countfield" placeholder="" [(ngModel)]="newTraffic.mennyiseg" value="">
    <label for="countfield">Mennyiség</label>
</div>
<div class="form-floating mb-3">
    
    <input type="number" class="form-control mb-2" id="Pricefield" placeholder="" [(ngModel)]="newTraffic.nettoar" value="">
    <label for="Pricefield">Nettó ár</label>
</div>
<select name="Kiadva" id="" class="form-select mb-3" [(ngModel)]="newTraffic.kiadva">
    <option value="1">Kiadva</option>
    <option value="0">Folyamatban</option>
</select>
<button type="button" class="btn btn-secondary mb-3 me-2 " routerLink="/trafics">Vissza a listához</button>
<button *ngIf="!this.id" type="button" class="btn btn-primary mb-3 "  (click)="save()">Mentés</button>
<button *ngIf="this.id" type="button" class="btn btn-warning mb-3 "  (click)="save()">Módosítás</button>

